body {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 20px 0;
}

#data-title {
    text-align: center;
}

.plot-section {
    padding: 20px;
    border: 1px solid lightblue;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rating-section {
    padding: 20px;
    border: 1px solid lightblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.review-list-item .card-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.review-list-item .card-header p {
    margin: 0;
}

#review-list-rating {
    grid-column-start: 4;
}
