.upload-rating-div {
    float: left;
}
.upload-rating-div span {
    float: right;
    position: relative;
}
.upload-rating-div span input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.upload-rating-div span label {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    background: #ccc;
    font-size: 30px;
    margin-right: 2px;
    line-height: 30px;
}
.upload-rating-div span:hover ~ span label,
.upload-rating-div span:hover label,
.upload-rating-div span.checked label,
.upload-rating-div span.checked ~ span label {
    background: #f90;
    color: #fff;
}
