h1,
h2,
h3,
p {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fafcff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 20px 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

#movie-form {
    text-align: center;
}

/* nav bar */
.navbar {
    background-color: #1f85de;
}

/* ========= */
/* Home Page */
.movie-list-item {
    padding: 0 20px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
}

.control-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    margin: 10px 0;
}

#prev-button {
    margin: 0 5px;
    grid-column: 11 / span 1;
}

#next-button {
    margin: 0 5px;
    grid-column: 12 / span 1;
}

/* title */

h1 {
    text-align: center;
}

/* movie image */
#movie-image img {
    width: 100%;
    border-radius: 10px;
}

#movie-image {
    margin: 0 0 20px;
}

/* rating */

.rating-section {
    padding: 20px;
    border: 1px solid #1f85de;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}

/* plot */

.plot-section {
    padding: 20px;
    border: 1px solid #1f85de;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

/* review */

.review-submit-section {
    margin: 20px 0;
    display: grid;
}

#upload-text {
    height: 200px;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 1px solid #1f85de;
    border-radius: 5px;
}

#upload-text:focus {
    border-width: 2px;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.btn {
    background-color: #fafcff;
}

.hidden {
    display: none;
}

.review-list-item {
    margin: 20px 0;
    border: 1px solid #1f85de;
}

.review-list-item .card-header {
    border-color: #1f85de;
    background-color: #eff5fb;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#review-list-rating {
    grid-column-start: 4;
}

/* cast */

.cast-section {
    border: 1px solid #1f85de;
    border-radius: 10px;
    background-color: #fff;
}

.cast-section h2 {
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eff5fb;
}

#cast-list .card {
    padding: 0;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #1f85de;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#cast-list .card-body {
    padding: 20px;
}

#cast-list .card-title {
    margin: 0;
}

/* upload rating */
#upload-rating-div span {
    color: #ccc;
    font-size: 1.5rem;
}

.star-active {
    color: orange !important;
}

span.rating-star {
    color: #ccc;
}
